body{
    margin: 0 !important;
}

#annolet-container{
    background-color: #8ea0a5 !important;
    bottom: 0 !important;
    width: 100% !important;
    border-radius: 31px 31px 0px 0px !important;
    z-index: 999999999999999999999999;
    position: fixed !important;
    box-shadow:  0 -17px 52px 0 !important;
    height: 121px;
    overflow:auto;
}

#annolet-header{
    text-align:center !important;
    color: #04124b !important;
    font-weight: bold !important;
    font-family: monospace !important;
    font-size: 216%;
}

#annolet-tools-menu{
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width:100% !important;
    white-space: nowrap !important;
    font-family: monospace !important; 
    font-weight: bold !important;
    display: inline-block !important;
    text-align: center !important;
    font-size: 155% !important;
}

#custom-tags-menu-list, #conversion-menu-list{
    display: inline-block !important;
    text-align: center !important;
    padding: 0px 3px !important;
    text-decoration: none !important;
    margin-top: -39px;
}

.customtag-menu-btn, #conversion-btn{
    background: #fff !important;
    color: black !important;
    border-color: black !important;
    cursor: pointer !important;
    width: 100% !important;
    font-size: 0.8em !important;
    border-style: solid !important;
    border-width: medium !important;
    text-shadow: inherit !important;
    border-radius: inherit !important;
    text-transform: uppercase !important;
    padding: 3px 55px !important;
    letter-spacing: inherit;
}

.customtag-menu-btn:hover{
    background: black !important;
    color: white !important;
    border-color: white !important;
}

.customtag-menu-0, .customtag-menu-1, .customtag-menu-2,
#conversion-menu {
    display: inline-block !important;
    background-color: #fff !important;
    color: black !important;
    text-align: center !important;
    text-decoration: none !important;
    margin-left: 12%;
}

.customtag-menu-0:hover, .customtag-menu-1:hover, .customtag-menu-2:hover{
    background: black !important;
    color: white !important;
    border-color: white !important;
}









